NODE_ENV=production

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USE_TLS=false
REDIS_DB=0
BULL_PREFIX=bull
BULL_VERSION=BULLMQ
PORT=3000
PROXY_PATH=
USER_LOGIN=
USER_PASSWORD=
AUTH_ENABLED=false
HOME_PAGE=/
LOGIN_PAGE=/login
SESSION_NAME=bull-board.sid